@use "../global" as g;

.c-humbergerButton{
  position: relative;
  width: 30px;
  height: 20px;
  border: none;
  background-color: transparent;
  @include g.tab() {
    display: none;
  }
  span{
    position: absolute;
    left: 0;
    width: 100%;
    &:nth-child(1){
      top: 0;
      height: 100%;
      border-top: 2px #333 solid;
    }
    &:nth-child(2){
      top: 50%;
      height: 2px;
      border-top: 1px #333 solid;
      border-bottom: 1px #333 solid;
      transform: translateY(-50%);
    }
    &:nth-child(3){
      bottom: 0;
      height: 100%;
      border-bottom: 2px #333 solid;
    }
  }
}